{% extends 'base.html' %}
{% load static %}

{% block title %}
    Кулинарные посты
{% endblock title %}

{% block breadcrumbs %}
<i class="right chevron icon divider black"></i>
<span class="active section" >Кулинарные посты</span>
{% endblock breadcrumbs %}
{% block content %}
<h2>Кулинарные посты</h2>
<div class="ui stackable grid m-2">

        {% for post in qs %}
        <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated meta">
                    <div class="ui grid">
                        <div class="ui inline row">
                            {% ifequal request.user post.author.user %}
                            <div class="ui row">
                                <a href="{% url 'culinary_post:post_update' post.pk %}">
                                    <small>Обновить</small>
                                </a>
                                <a href="{% url 'culinary_post:post_delete' post.pk %}">
                                    <small>Удалить</small>
                                </a>

                            </div>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
                {% ifequal request.user post.author.user %}

                <small>{{ post.created|timesince}} назад</small>
                {% else %}
                <img loading="lazy" src="{{ post.author.avatar.url }}" class="ui avatar url">
                <small>{{ post.author.user.username }} - {{ post.created|timesince}} назад</small>
                {% endifequal %}

                <div class="ui fluid image">
                    {% if post.image %}
                    <img loading="lazy" src="{{ post.image.url }}">
                    {% endif %}
                </div>

            </div>
            <div class="content">
                <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
            </div>
            <div class="extra content">
                <i class="comment icon"></i>
                <small>{{ post.get_total_comments }}</small>
            </div>
        </div>
            </div>
        {% endfor %}

</div>
{% endblock content %}
