{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load hitcount_tags %}

{% block title %}У-шефа {{ post.title }}{% endblock title %}

    {% block meta_description %}
        <meta name="description" content="У-шефа пост {{ post.title }}"  itemprop="description">
    {% endblock meta_description %}

{% block breadcrumbs %}
<a class="section navbar_links_yummy black" href="{% url 'culinary_post:culinary_post_view' %}">Кулинарные посты</a>
<i class="right chevron icon divider black"></i>
<a class="section navbar_links_yummy black"
    href="#">{{post.title}}</a>
{% endblock breadcrumbs %}


{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}
<div class="dish_detail">
    <div class="ui two right aligned column grid mx-10">
        <div class="right floated middle aligned eight wide column">
            <small>{{ post.created }}/{{ post.user }}</small>
            <img loading="lazy" class="ui avatar image"
                src="{% if post.user.profile.avatar %}{{ post.user.profile.avatar.url }}{% else %}{% static '/image/avatar_man.png' %}{% endif %}">
        </div>
    </div>
    <div class="dish_row">
        <h1 class="font-lobster p-10">{{ post.title }}</h1>
    </div>

    <div class="row">
        <img loading="lazy" class="ui fluid rounded image" src="{{ post.image.url }}" alt="{{ post.title }}">
    </div>
    <div class="row">
        <p class="font-oswald p-10">{{post.content|safe}}</p>
    </div>

    <div class="ui equal width grid p-10">
        <div class="equal width row">
            <div class="column">
                <div class="ui grid p-10">
                    <div class="inline column row">
                        {% get_hit_count for post as count %}
                        <i class="ui eye big yellow icon main_point" aria-hidden="true"></i><small
                            class="mr-5 font-s-20 c-black">{{count}}</small>
                        <a href="#dishComments">
                            <i class='ui comment outline big yellow icon main_point'></i><small
                                class="mr-5 font-s-20 c-black">
                                {{ post.get_total_comments}}</small>
                        </a>

                        <div class="right floated">
                            <form action="{% url 'culinary_post:like_post_view' %}" method="post" id="post_like_form">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <i id="post_like_button" datatype="{{ post.id }}"
                                   class="ui thumbs {% if user.profile in post.liked.all %} down {% else %} up {% endif %} outline big yellow icon main_point icon"></i>
                                <small class="mr-5 font-s-20 c-black like-count">
                                    {{ post.get_total_likes }}
                                    </small>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show comments -->
<hr>
{% if post_comments %}
<h3 id="dishComments" class="ui header">Коментарии</h3>
<button class="cmt_btn ui fluid button mb-4">Показать / Скрыть коментарии</button>
<div class="comment-box">
    <div class="comment">
        {% if comment_size > post_comments_len %}
        <div class="ui fluid button get_another_number" data-href-template="{{post.get_absolute_url }}">Открыть
            сообшения</div>
        {% endif %}
    </div>
    <div class="ui threaded comments">
        {% recursetree post_comments %}
        <div class="comment custom_comment">
            <a class="avatar" href="#">
                <img loading="lazy" src="{% if node.author.avatar %}{{ node.author.avatar.url }}{% else %}{% static '/image/avatar_man.png' %}{% endif %}"
                    alt="avatarka">
            </a>
            <div class="content">
                <a class="author" href="{{ node.author.get_user_profile_detail_absolute_url }}">{{ node.author.first_name }}</a>
                <div class="metadata">
                    <span class="date">{{ node.created }}</span>
                </div>
                <div class="text">
                    {{ node.text }}
                </div>
                {% if node.level < 2 %} <div id="{{node.id}}" class="actions">
                    <a class="ui basic mini positive button" onclick="addComment({{ node.id }})">Ответить</a>
            </div>
            {% endif %}
        </div>

        {% if not node.is_leaf_node %}
        <div class="comments">
            {{children}}
        </div>
        {% endif %}
    </div>
    {% endrecursetree %}
    </div>
</div>
{% else %}
    <h3 id="dishComments" class="ui header">Пока нет комментариев</h3>
{% endif %}
<!-- Form for reviews -->

<form action="{% url 'culinary_post:post_add_comment' post.id %}" method="post" class="ui form input_background formReview"
    id="formReview">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="ui fluid basic positive button mt-10 comment_button">ДОБАВИТЬ КОММЕНТАРИЙ</button>
</form>
{{status}}
<!-- Form for reviews -->

{% endblock content %}

{% block jscdn %}
    <!--Like and add dish to culinary book action Js cdn-->
    <script type="text/javascript" src="{% static 'js/post_detail.min.js' %}"></script>
{% endblock jscdn %}
