/venv/
.idea
.idea/.gitignore
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/django_awchy.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
src/culinary_project/prod_settings.py
src/culinary_project/local_settings.py

static_project
static_cdn/