{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block filter %}
    <div class="show_search_button">
        <i class="ui filter white big icon"></i>
        <span>Фильтр</span>
    </div>
{% endblock filter %}

{% block title %}{% if category %}{{ category }}{% else %} Все ретцепты {% endif %}{% endblock title %}
{% block meta_description %}
{% endblock meta_description %}
{% block robots %}
    <meta name="robots" content="noindex">
{% endblock robots %}
{% if category %}
    {% block breadcrumbs %}
        <span class="text-muted">{{ category.name }}</span>
    {% endblock breadcrumbs %}
{% endif %}

{% block sidbar %}
    <div class="four wide column ui right inline vertical menu side_bar_search_content">
            <form action="{% url 'culinary_recipe:search_dishes' %}" method="get" name="dish_filter_ajax">
                <div class="item">
                        <div class="ui search">
                            <div class="ui action input">
                                {{search}}
                                <button class="ui basic grey button search_title_ajax" type="submit">
                                    <i class="search link icon"></i>
                                </button>
                            </div>
                        </div>
                </div>
                <div class="item">

                    <div class="header mb-10">
                        Уточните свой поиск
                    </div>
                    {% for category in view.get_category %}
                    <div class="header">
                        <div class="mb-10 p-10 techno">
                                {{ category }}
                            {{ category.cnt }}
                        </div>
                    </div>
                    {% for item in category.sub_category.all %}
                        {% if forloop.counter >= 4 %}
                        <div class="{{category.slug}}_div_container mb-10 d_none">
                            <div class="ui checkbox">
                                <input class="all_filter_click" type="checkbox" name="{{country}}" value="{{item.slug}}"
                                       {% ifequal country item %} checked {% endifequal %}>
                                <label class="all_filter_checkbox_label">{{item}} ({{item.dish_set.all.count}})</label>
                            </div>
                        </div>
                        {% if forloop.last %}
                            <div class="show_more_button" datatype="{{category.slug}}_div_container"><i class="ui small plus grey icon"></i>показать все</div>
                        {% endif %}
                        {% else %}
                        <div class="mb-10">
                            <div class="ui checkbox ">
                                <input class="all_filter_click" type="checkbox" name="sub_category" value="{{item.slug}}"
                                       {% ifequal country item %} checked {% endifequal %}>
                                <label class="all_filter_checkbox_label">{{item}} ({{ item.dish_set.all.count }})</label>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="header">
                        <div class="mb-10 p-10 techno">
                                Страны
                        </div>
                    </div>
                    {% for item in view.get_country %}
                        {% if forloop.counter >= 4 %}
                            <div class="country_div_container mb-10 d_none">
                                <div class="ui checkbox">
                                    <input class="all_filter_click" type="checkbox" name="country" value="{{item.slug}}"
                                           {% ifequal country item %} checked {% endifequal %}>
                                    <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                                </div>
                            </div>
                            {% if forloop.last %}
                                <div class="show_more_button" datatype="country_div_container"><i class="ui small plus grey icon"></i>показать все</div>
                            {% endif %}
                        {% else %}
                            <div class="mb-10">
                                <div class="ui checkbox ">
                                    <input class="all_filter_click" type="checkbox" name="country" value="{{item.slug}}"
                                           {% ifequal country item %} checked {% endifequal %}>
                                    <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="header">
                        <div class="mb-10 p-10 techno">
                                Технологии
                        </div>
                    </div>
                    {% for item in view.get_technology %}
                        {% if forloop.counter >= 4 %}
                        <div class="technology_div_container mb-10 d_none">
                            <div class="ui checkbox">
                                <input class="all_filter_click" type="checkbox" name="technology" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                            {% if forloop.last %}
                            <div class="show_more_button" datatype="technology_div_container"><i class="ui small plus grey icon"></i>показать все</div>
                            {% endif %}
                        {% else %}
                        <div class="mb-10">
                            <div class="ui checkbox ">
                                <input class="all_filter_click" type="checkbox" name="technology" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                        <div class="mb-10 p-10" style="border-top: 1px dotted grey;">
                            Повод
                        </div>
                    {% for item in view.get_occasion %}
                        {% if forloop.counter >= 4 %}
                        <div class="occasion_div_container mb-10 d_none">
                            <div class="ui checkbox">
                                <input class="all_filter_click" type="checkbox" name="occasion" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                            {% if forloop.last %}
                            <div class="show_more_button" datatype="occasion_div_container"><i class="ui small plus grey icon"></i>показать все</div>
                            {% endif %}
                        {% else %}
                        <div class="mb-10">
                            <div class="ui checkbox">
                                <input class="all_filter_click" type="checkbox" name="occasion" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                        <div class="mb-10 p-10" style="border-top: 1px dotted grey;">
                            Оборудрвания
                        </div>
                    {% for item in view.get_device %}
                        {% if forloop.counter >= 4 %}
                        <div class="device_div_container mb-10 d_none">
                            <div class="ui checkbox">
                                <input class="all_filter_click" type="checkbox" name="device" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                            {% if forloop.last %}
                            <div class="show_more_button" datatype="device_div_container"><i class="ui small plus grey icon"></i>показать все</div>
                            {% endif %}
                        {% else %}
                        <div class="mb-10">
                            <div class="ui checkbox">
                                <input class="all_filter_click" type="checkbox" name="device" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                        <div class="mb-10 p-10" style="border-top: 1px dotted grey;">
                            Сложность
                        </div>
                    {% for item in view.get_сomplexity %}
                        {% if forloop.counter >= 4 %}
                        <div class="mb-10 d_none">
                            <div class="ui radio checkbox">
                                <input class="all_filter_click" type="radio" name="complexity" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                            {% if forloop.last %}
                            <div class="show_more_button" datatype="device_div_container"><i class="ui small plus grey icon"></i>показать все</div>
                            {% endif %}
                        {% else %}
                        <div class="mb-10">
                            <div class="ui radio checkbox">
                                <input class="all_filter_click" type="radio" name="complexity" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                        <div class="mb-10 p-10" style="border-top: 1px dotted grey;">
                            Вегетарианство
                        </div>
                    {% for item in view.get_vegeterian %}
                        {% if forloop.counter >= 4 %}
                        <div class="vegetarian_div_container mb-10 d_none">
                            <div class="ui radio checkbox">
                                <input class="all_filter_click" type="radio" name="vegeterian" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                            {% if forloop.last %}
                                <div class="show_more_button" datatype="vegetarian_div_container"><i class="ui small plus grey icon"></i>показать все</div>
                            {% endif %}
                        {% else %}
                        <div class="mb-10">
                            <div class="ui radio checkbox">
                                <input class="all_filter_click" type="radio" name="vegeterian" value="{{item.slug}}">
                                <label class="all_filter_checkbox_label">{{item}} ({{item.cnt}})</label>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </form>
    </div>
{% endblock sidbar %}

{% block content %}

{% if country %}
<h3>Страна {{country.name}}</h3>
{% else %}
<h3 class="ushefa_according_title">Ретцепты </h3>
{% endif %}

<div class="grid_ushefa">
            {% for popular_meal in meals %}
                <div class="grid-item_ushefa">
                    <a href="{{popular_meal.get_absolute_url}}" class="ui fluid card">
                          <div class="page_image loading_gif">
                            <img src="/static/image/2.png" data-src="{{ popular_meal.poster.url }}" alt="{{popular_meal.title}}">
                          </div>
                          <div class="content">
                              <div class="header grey">
                                {{popular_meal.title}}
                              </div>
                          </div>
                          <div class="extra content">
                                <span class="left floated">
                                  <i class="comment icon"></i>
                                    {{ popular_meal.get_total_comments}}
                                    <i class="eye icon"></i>
                                    {{ popular_meal.current_hit_count}}
                                    <i class="ui thumbs up icon"></i>
                                    {{ popular_meal.get_total_likes }}
                                </span>
                          </div>
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock %}

{% block paginator %}
{% if page_obj.has_next or page_obj.has_previous %}
    <div class="ui grid">
        <div class="twelve wide fluid column content_side_yummy mx-20">
            <div class="ui center aligned container">
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock paginator %}

