{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load hitcount_tags %}

{% block title %}{{ meal.title }}{% endblock title %}


{% block breadcrumbs %}
<a class="section navbar_links_yummy black" href="{{ meal.category.get_absolute_url }}">{{meal.category.name}}</a>
<i class="right chevron icon divider black"></i>
<a class="section navbar_links_yummy black"
    href="{{ meal.sub_category.get_absolute_url }}">{{meal.sub_category.name}}</a>
{% endblock breadcrumbs %}
{% block content %}
{% if messages %}

{% for message in messages %}
<div class="ui info message">
    <i class="close icon"></i>
    <div class="header">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
<div class="dish_detail">
    <div class="ui two right aligned column grid mx-10">
        <div class="left aligned middle aligned eight wide column">{{ meal.category }} / {{ meal.sub_category.name }}
        </div>
        <div class="right floated middle aligned eight wide column">
            <small>{{ meal.created }}/{{ meal.author }}</small>
            <img loading="lazy" class="ui avatar image"
                src="{% if meal.author.profile.avatar %}{{ meal.author.profile.avatar.url }}{% else %}{% static '/image/avatar_man.png' %}{% endif %}">
        </div>
    </div>

    <div class="dish_row">
        <h1 class="font-lobster p-10">{{ meal.title }}</h1>
    </div>


    <div class="row">
        <img loading="lazy" class="ui fluid rounded image" src="{{ meal.poster.url }}" alt="{{ meal.title }}">
    </div>

    <div class="ui equal width grid p-10">
        <div class="equal width row">
            <div class="column">
                <div class="ui grid p-10">
                    <div class="inline column row">
                        {% get_hit_count for meal as count %}
                        <i class="ui eye big yellow icon main_point" aria-hidden="true"></i><small
                            class="mr-5 font-s-20 c-black">{{count}}{{ hitcount.hit_counted }}{{ hitcount.pk }}</small>
                        <a href="#dishComments">
                            <i class='ui comment outline big yellow icon main_point'></i><small
                                class="mr-5 font-s-20 c-black">
                                {{ meal.get_total_comments}}</small>
                        </a>
                        <form action="{% url 'culinary_recipe:likes_meal' %}" method="post" id="like_form" name="like">
                            {% csrf_token %}
                            <i type="submit" id="like" value="{{ meal.id }}"
                                class='ui thumbs{% if meal.is_liked %} down {% else %} up {% endif %}outline big yellow icon main_point icon'></i>
                            <span class="result_book mr-5 font-s-20 c-black">{{ meal.get_total_likes }}</span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right aligned column">
                {% if user != meal.author and user.is_authenticated %}
                <div class="subscribe_div_add {% if meal.dish_added %}active{% endif%}">
                    <form class="need_change m-4" action="{% url 'contact:add_dishes_to_book' %}" method="post"
                        name="add_dishes_to_book" id="add_dishes_to_book">
                        {% csrf_token %}
                        <input type="hidden" class="meal_id" value="{{ meal.id }}">
                        <input type="submit" class="add_dishes subscribe_form_btn subscribe_link font-oswald result"
                            value="{% if meal.dish_added %}в кулинарнй книге{% else %}в мою кулинарную книгу{% endif %}">
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ui stackable two column grid">
        <div class="twelve wide column">
            <h4 class="ui block grey header font-oswald">ИНГРЕДИЕНТЫ</h4>
            <ul class="ingredients_ul mb-4">
                {% for ingredient in meal.ingredient_set.all %}
                <li class="ingredints_li">
                    <span>
                        {{ ingredient.quantity }} {{ ingredient.measure }} {{ ingredient.name }}
                        {% if ingredient.note %}({{ingredient.note}}){% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
            <h4 class="font-oswald ui block grey header">ПОШАГОВЫЙ РЕЦЕПТ ПРИГОТОВЛЕНИЯ</h4>
            {% for step in meal.step_set.all %}
            <p class="steps_counter font-oswald">Шаг {{ forloop.counter }}</p>
            {% if step.image %}
            <div class="dish_poster img-fluid">

                <img loading="lazy" src="{{ step.image.url }}" class="dish_poster" alt="poster">

            </div>
            {% endif %}
            <p class="steps_descriptions p-10">
                {{ step.description }}
            </p>
            {% endfor %}

        </div>
        <div class="four wide column">
            <h5 class="ui block grey header"> Время подготовки</h5>
            <p><small class="text-muted">
                    {% if meal.preparation_time_hour %}{{ meal.preparation_time_hour }}{% endif %} <smaal>ч</smaal> /
                    {% if meal.preparation_time_minute %}{{ meal.preparation_time_minute }}{% endif %} <smaal>мин
                    </smaal>
                </small>
            </p>
            <p class="ui block grey header">Время готовки</p>
            <p><small class="text-muted">
                    {% if meal.cooking_time_hour %}{{ meal.cooking_time_hour }}{% endif %} <smaal>ч</smaal> /
                    {% if meal.cooking_time_minute %}{{ meal.cooking_time_minute }}{% endif %} <smaal>мин</smaal>
                </small>
            </p>
            <p class="ui block grey header">Количество порций</p>
            <p>
                <small class="text-muted">{% if meal.servings %}{{ meal.servings }}{% endif %}</small>
            </p>
            <p class="ui block grey header">Вегетарианское</p>
            <p>
                <small class="text-muted">{% if meal.vegetarian %}{{ meal.vegetarian }}{% endif %}</small>
            </p>
            {% if meal.technology.all %}
            <p class="ui block grey header">Технология</p>
            <p>
                {% for technology in meal.technology.all %}
                <small class="text-muted">{{technology}}{% if not forloop.last %}, {% endif %}</small>
                {% endfor %}
            </p>
            {% endif %}
            {% if meal.occasion.all %}
            <p class="ui block grey header">Повод</p>
            <p>
                {% for occasion in meal.occasion.all %}
                <small class="text-muted">{{occasion}}{% if not forloop.last %}, {% endif %}</small>
                {% endfor %}
            </p>
            {% endif %}
            {% if meal.device.all %}
            <p class="ui block grey header">Устройтво</p>
            <p>
                {% for device in meal.device.all %}
                <small class="text-muted">{{device}}{% if not forloop.last %}, {% endif %}</small>
                {% endfor %}
            </p>
            {% endif %}
            {% if meal.calorie %}
            <p class="ui block grey header">Калории</p>
            <p>
                <small class="text-muted">{{meal.calorie}}</small>
            </p>
            {% endif %}
            {% if meal.protein %}
            <p class="ui block grey header">Протеин</p>
            <p>
                <small class="text-muted">{{meal.protein}}</small>
            </p>
            {% endif %}
            {% if meal.fat %}
            <p class="ui block grey header">Жиры</p>
            <p>
                <small class="text-muted">{{meal.fat}}</small>
            </p>
            {% endif %}
            {% if meal.carbohydrate %}
            <p class="ui block grey header">Углеводы</p>
            <p>
                <small class="text-muted">{{meal.carbohydrate}}</small>
            </p>
            {% endif %}
        </div>

    </div>
</div>
<!--Similar recipe views -->
<hr>
{% if similar_meals %}
<h4 class="font-lobster p-10">Похожие рецепты</h4>
<div class="ui stackable centered three column grid">
    <div class="row">
        {% for meal in similar_meals %}
        <div class="five wide column">
            <div class="card">
                <img loading="lazy" class="img-thumbnail cat_image" src="{{ meal.poster.url }}" alt="Card image cap">
                <div class="card-body">
                    <a class="ui link" href="{{meal.get_absolute_url}}"><p class="card-text">{{ meal.title }}</p></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- Show comments -->
<hr>
{% if pag_comments %}
<h3 id="dishComments" class="ui header">Коментарии</h3>
<button class="cmt_btn ui fluid button mb-4">Показать / Скрыть коментарии</button>
<div class="comment-box">
    <div class="comment">
        <div class="ui fluid button get_another_number" data-href-template="{{meal.get_absolute_url }}">Открыть сообшения</div>
        <div class="ui active centered inline black loader d_none"></div>
    </div>
    <div class="ui threaded comments">
        {% recursetree pag_comments %}
        <div class="comment custom_comment">
            <a class="avatar" href="#">
                <img loading="lazy" src="{% if node.author.profile.avatar %}{{ node.author.profile.avatar.url }}{% else %}{% static '/image/avatar_man.png' %}{% endif %}"
                    alt="avatarka">
            </a>
            <div class="content">
                <a class="author" href="{{node.author.profile.get_user_profile_detail_absolute_url}}">{{ node.author.profile.first_name }}</a>
                <div class="metadata">
                    <span class="date">{{ node.created }}</span>
                </div>
                <div class="text">
                    {{ node.text }}
                </div>
                {% if node.level < 2 %} <div id="{{node.id}}" class="actions">
                    <a class="ui basic mini positive button" onclick="addComment({{ node.id }})">Ответить</a>
            </div>
            {% endif %}
        </div>

        {% if not node.is_leaf_node %}
        <div class="comments">
            {{children}}
        </div>
        {% endif %}
    </div>
    {% endrecursetree %}
</div>
</div>
{% else %}
<h3 id="dishComments" class="ui header">Пока нет комментариев</h3>
{% endif %}
<!-- Form for reviews -->

<form action="{% url 'culinary_recipe:add_review' meal.id %}" method="post" class="ui form input_background formReview"
    id="formReview">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="parent" id="contactparent" value="">
    <button type="submit" class="ui fluid basic positive button mt-10 comment_button">ДОБАВИТЬ КОММЕНТАРИЙ</button>
</form>
{{status}}
<!-- Form for reviews -->


{% endblock content %}

{% block jscdn %}
    <!--Like and add dish to culinary book action Js cdn-->
    <script type="text/javascript" src="{% static 'js/meal_detail.js' %}"></script>
{% endblock jscdn %}
