{% extends 'base.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock title %}

<!-- Bread crumbs -->
{% block breadcrumbs %}
<div class="active section">{{ category.name }}</div>
{% endblock %}

{% block content %}
<h3>{{ category.name }}</h3>
{% for sub_category in sub_categories %}
<h4><a class="button_link" href="{{ sub_category.get_absolute_url }}">{{ sub_category.name }}</a> :</h4>
<div>

</div>

<div class="ui stackable centered three column grid">
    <div class="row">
        {% for meal in sub_category.get_last_three_dishes %}
        <div class="five wide column">
            <div class="page_image loading_gif">
                <img src="/static/image/1x1.png" data-src="{{ meal.poster.url }}" alt="{{meal.title}}">
            </div>
            <a href="{{ meal.get_absolute_url }}"><span>{{ meal.title }}</span></a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
                <div class="center aligned sixteen wide column">
                    <a class="link item" href="{{ sub_category.get_absolute_url }}">
                        <div class="ui animated fade button my_button" tabindex="0">
                            <div class="visible content">{{ sub_category.name}} : {{ sub_category.cnt }}</div>
                            <div class="hidden content">
                                Перейти
                            </div>
                        </div>
                    </a>
                </div>
            </div>
</div>
{% endfor %}
{% endblock %}