{% extends 'base.html' %}

{% block title %}Удалить рецепт{% endblock title %}

{% block robots %}
    <meta name="robots" content="noindex">
{% endblock robots %}

{% block content %}
<div class="ui middle aligned center aligned  grid">
        <div class="ui card" style="width: 400px; margin-top: 30px; height: 100px;">
        <div class="ui center aligned red image header">
            <img loading="lazy" src="/static/image/yumy.png" width="50" height="25" class="image">
            <div class="content">
                <h1>Удалить рецепт</h1>
            </div>
        </div>

        <div class="content p-10">
            <div class="center aligned">
                <p>Вы уверены что хотите удалить  "{{ object.title }}" рецепт?</p>
            </div>
        </div>
        <form action="" method="post">
          {% csrf_token %}
          <button type="submit" class="ui fluid large teal submit button">Удалить</button>
        </form>
    </div>
</div>

{% endblock content %}