<!doctype html>
<html lang="ru">
{% load static %}
{% load meal_tags %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="a8c693b16a7975eb" />

    <link rel="icon" type="image/png" sizes="32x32 120x120 | any" href="/static/image/icons_ushefa.png" />
    <link rel="mask-icon" href="/static/image/icons_ushefa.svg" color="#00а0ff">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/image/icon_header60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/image/icon_header76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/image/icon_header120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/image/icon_header144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/image/icon_header152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/image/icon_header180.png">
    <title>{% block title %}У-шефа - Лучшие кулинарные рецепты мира{% endblock title %}</title>
    <meta name="keywords" content="рецепты блюд, кулинарные рецепты, кулинария, рецепты, новые рецепты">
    {% block meta_description %}
        <meta name="description" content="Готовите ли вы к праздникам или просто нуждаетесь в отличных идеях на ужин, у нас есть для вас рецепты, советы по приготовлению и многое другое"  itemprop="description">
    {% endblock meta_description %}

    {% block robots %} {% endblock robots %}

    <!-- Yandex.Metrika counter -->
    <script async type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(80462746, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/80462746" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!--    google-fonts-Lobster-->
<!--    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap" >-->

    <link media="all" rel="stylesheet" type="text/css" href="{% static 'Semantic_UI/semantic.min.css' %}">
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/base.min.css' %}">
    {% block cdn %}

    {% endblock cdn %}
    <!--    mail ru domane proof-->
    <meta name="mailru-domain" content="VxoDTydYgGtp85xl" />
<!--    google search console domane proof pleas work-->
    <meta name="google-site-verification" content="8P7W4EhJuTSXjQstz-APNRDoVJIyuhaekolpPdf_yF4" />
    <style>

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9zoamM4MwWJXNqA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiYySUhiCXABTV.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
    </style>
</head>

<body class="body_yummy">
{% include 'includes/header.html' %}
<div class="ui small center basic test modal ushefa_modal center aligned grid">

    <i class="big white close icon"></i>
    <div class="ui header over-flow">
        <hr>
        <div class="item"><a class="p-2 navbar_links_yummy font-oswald"
                             href="{% url 'culinary_post:culinary_post_view' %}">Кулинарные посты</a></div>
        <hr>
        {% get_categories as categories_modal %}
        <div class="ui inverted accordion">
            {% for category in categories_modal %}
            {% if category.sub_category.all %}
            <div class="title">
                <i class="dropdown icon"></i>
                <a href="{{ category.get_absolute_url }}"
                   class="navbar_links_yummy font-oswald font-oswald">
                    {{ category.name }}
                </a>
            </div>

            <div class="middle aligned content" id="{{ category.slug }}">
                {% for sub_category in category.sub_category.all %}
                <p class="accordion transition visible" style="display: block !important;">
                    <a href="{{ sub_category.get_absolute_url }}"
                       class="navbar_links_yummy font-oswald pl-20">
                        {{sub_category.name}}
                    </a>
                </p>
                {% endfor %}
            </div>
            {% else %}
            <a href="{{ category.get_absolute_url }}"
               class="navbar_links_yummy font-oswald pl-10">
                {{ category.name }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Content side -->
<div class=" ui bread " style="">
    <div class="custom_container">
        {% block steps_breadcrumbs %}
                <div class="mt-2">
                    <div class="ui breadcrumb font-oswald black p-10">

                        <a class="section navbar_links_yummy black"
                           href="{% url 'culinary_recipe:home' %}">Главное</a>
                        <i class="right chevron icon divider black"></i>
                        <a class="section navbar_links_yummy black" href="{% url 'culinary_recipe:dishes' %}">Все
                            категории</a>
                        <i class="right chevron icon divider black"></i>

                        {% block breadcrumbs %}
                        {% endblock breadcrumbs %}
                    </div>
                </div>
                <hr class="mb-10">
            {% endblock steps_breadcrumbs %}

    {% block filter %}

        {% endblock filter %}
        <div class="ui stackable grid filter_element_container">

            <!-- /.blog-sidebar Каталог рецептов -->
            {% block full %}
            <div class="twelve wide fluid column content_side_yummy mx-20">
            {% endblock full %}
                <!-- Bread crumbs -->

                {% block content %}
                <hr>
                {% endblock %}

            </div>
            {% block sidbar %}
                {% include 'includes/side_bar.html' %}
            {% endblock sidbar %}
        </div>
        {% block paginator %}
        {% endblock paginator %}

        {% block popularity %}
        {% endblock popularity %}
    </div>
</div>

{% include 'includes/footer.html' %}


<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqueryPassiveFix.min.js' %}"></script>

<!--Semantik Ui Js-->
<script async type="text/javascript" src="{% static 'Semantic_UI/semantic.min.js' %}"></script>
<!--  custom js -->
<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>

<script async type="text/javascript" src="{% static 'js/base.min.js' %}"></script>
{% block jscdn %}

{% endblock jscdn %}
<script async>
    {% block javascript %}
    {% endblock javascript %}

    $('.grid_ushefa').masonry({
        fitWidth: true,
        gutter: 10,
        columnWidth: 250,
        itemSelector: '.grid-item_ushefa',
    });
console.log(document.cookie)
</script>
</body>
</html>