<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load meal_tags %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--    google-fonts-Oswald-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!--    google-fonts-Lobster-->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap" rel="stylesheet">
    <!--google font Yanone-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Semantic_UI/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block cdn %}
    {% endblock cdn %}


    <!-- Custom styles (optional) -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>{% block title %}У-шефа{% endblock title %}</title>
</head>

<body class="body_yummy">
{% include 'includes/header.html' %}
<div class="ui small center basic test modal ushefa_modal center aligned grid">

    <i class="big white close icon"></i>
    <div class="ui header">
        <hr>
        <div class="item"><a class="p-2 navbar_links_yummy font-oswald"
                             href="{% url 'culinary_post:culinary_post_view' %}">Кулинарные посты</a></div>
        <hr>
        {% get_categories as categories_modal %}
        <div class="ui inverted accordion">
            {% for category in categories_modal %}
            {% if category.sub_category.all %}
            <div class="title">
                <i class="dropdown icon"></i>
                <a href="{{ category.get_absolute_url }}"
                   class="navbar_links_yummy font-oswald font-oswald">
                    {{ category.name }}
                </a>
            </div>

            <div class="middle aligned content" id="{{ category.slug }}">
                {% for sub_category in category.sub_category.all %}
                <p class="accordion transition visible" style="display: block !important;">
                    <a href="{{ sub_category.get_absolute_url }}"
                       class="navbar_links_yummy font-oswald pl-20">
                        {{sub_category.name}}
                    </a>
                </p>
                {% endfor %}
            </div>
            {% else %}
            <a href="{{ category.get_absolute_url }}"
               class="navbar_links_yummy font-oswald pl-10">
                {{ category.name }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Content side -->
<div class=" ui bread " style="">
    <div class="custom_container">
        <div class="ui stackable two fluid column divided grid">

            <!-- /.blog-sidebar Каталог рецептов -->
            <div class="twelve wide fluid column content_side_yummy p-10">
                <!-- Bread crumbs -->
                {% block steps_breadcrumbs %}
                <div class="mt-2">
                    <div class="ui breadcrumb font-oswald black p-10">

                        <a class="section navbar_links_yummy black"
                           href="{% url 'culinary_recipe:home' %}">Главное</a>
                        <i class="right chevron icon divider black"></i>
                        <a class="section navbar_links_yummy black" href="{% url 'culinary_recipe:dishes' %}">Все
                            категории</a>
                        <i class="right chevron icon divider black"></i>

                        {% block breadcrumbs %}
                        {% endblock breadcrumbs %}
                    </div>
                </div>
                <hr>
                {% endblock steps_breadcrumbs %}
                {% block content %}
                <hr>
                {% endblock %}

            </div>
            {% include 'includes/side_bar.html' %}
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<!--    JQuery formset-->
<script async defer type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<!--Semantik Ui Js-->
<script async type="text/javascript" src="{% static 'Semantic_UI/semantic.min.js' %}"></script>
<!--  custom js -->
<script async type="text/javascript" src="{% static 'js/base.js' %}"></script>

{% block jscdn %}

{% endblock jscdn %}
<script>
    {% block javascript %}
    {% endblock javascript %}




</script>
</body>
</html>