{% extends 'base.html' %}
{% load static %}


<!-- Bread crumbs -->
{% block breadcrumbs %}
<a class="section navbar_links_yummy black" href="#">Все ретцепты</a>
{% endblock %}
    {% block classes %}
    <div class="thirteen wide column">
    {% endblock classes %}
    {% block content %}
    <div class="ui header pl-10 font-oswald">
        Кулинарный рецепт
    </div>

    <div class="blog-post">
        <div class="ui stackable centered three column grid">

            {% for category in categories %}

            <div class="five wide column cont">
                <h6>
                    <a class="button_link" href="{{ category.slug }}">
                        <span class="font-s-20 badge badge-secondary pl-10">{{ category.name }}</span>
                    </a>
                </h6>
                <img loading="lazy" class="img-thumbnail cat_image" src="{{ category.poster.url }}" alt="{{ category.name }}">
                {% if category.sub_category.all %}
                {% for child in category.sub_category.all %}
                <a class="button_link" href="{{ child.get_absolute_url }}">
                    {{ child.name }} :
                </a>
                {% if child.get_last_three_dishes %}
                {% for dishes in child.get_last_three_dishes %}
                <a href="{{ dishes.get_absolute_url }}">
                    <small>{{ dishes.title }}</small>
                </a>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <div class="row">
                <div class="center aligned sixteen wide column">
                    <a class="link item" href="{% url 'culinary_recipe:dishes' %}">
                        <div class="ui animated fade button my_button" tabindex="0">
                            <div class="visible content">Все рецепты</div>
                            <div class="hidden content">
                                Перейти
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="ui header pl-10 font-oswald">Кулинарные посты и новости</div>
    <div class="ui stackable centered three column grid">
        {% for post in posts %}
        <div class="five wide column cont">
            <h6>
                <a class="button_link" href="{{ post.id }}">
                    <span class="badge badge-secondary">{{ post.title }}</span>
                </a>
            </h6>
            {% if post.image %}
            <img loading="lazy" class="img-thumbnail cat_image" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <div class="content">
                {{ post.content|truncatewords:"20"}}
            </div>
        </div>
        {% endfor %}

        <div class="row">
            <div class="center aligned sixteen wide column">
                <a class="link item" href="{% url 'culinary_post:culinary_post_view' %}">
                    <div class="ui animated fade button my_button" tabindex="0">
                        <div class="visible content">Все посты</div>
                        <div class="hidden content">
                            Перейти
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <hr>
    <h3 class="pl-10 font-oswald">Национальные кухни</h3>
    <div class="country_block my-4">
        {% for country in countries %}
        <a class="button_link text-muted {% if forloop.first %}pl-10{% endif %}" href="#">{{ country.name }}</a>
        {% endfor %}
    </div>

    {% endblock %}
