<div class="footer-subsrcibe">
    <div class="ui container">
        <form action="{% url 'contact:contact_subscribe' %}" method="post" class="ui stackable right aligned grid" id="subscribe_form">
            {% csrf_token %}
            <div class="right floated center aligned middle aligned eight wide column footer-subscribe__title font-oswald">
                ПОДПИШИТЕСЬ НА РАССЫЛКУ РЕЦЕПТОВ
            </div>
            <div class="left floated center aligned eight wide column footer-subscribe__inputs-wrap">
                    <div class="ui action input fluid">
                      {{ contact_form }}
                        <button class="btn_custom ui red button font-oswald subscribe_button"  type="submit">
                            <i class="paper plane outline icon"></i>
                            Подписатся
                        </button>
                    </div>

            </div>
        </form>
    </div>
</div>