{% extends "base.html" %}
{% load static %}
{% block title %} Ваша страница {% endblock title %}

{% block breadcrumbs %}
<div class="active section">Ваша страница</div>
{% endblock breadcrumbs %}

{% block classes %}
<div class="col-lg-9 blog-main bg-light" style="background-color: bisque;">
    {% endblock classes %}

    {% block content %}
    <!--                    Semantic Modal-->
    <div class="ui modal mymodal">
        <i class="close icon"></i>
        <div class="header">
            Изменить профиль
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img id="avatar_image_id" class="ui centered medium rounded image" src="{{ profile_form.initial.avatar.url }}" alt="{{ profile_form.initial.avatar }}">
            </div>
            <div class="description">
                <form action="{% url 'contact:user_profile' %}" method="post" enctype="multipart/form-data"
                      class="ui equal width form" novalidate>
                    {% csrf_token %}
                    <div class="field">
                        {{ profile_form.first_name.label_tag }}
                        <div class="two fields">
                            <div class="field">
                                {{ profile_form.first_name.errors }}
                                {{ profile_form.first_name }}
                            </div>
                            <div class="field">
                                {{ profile_form.last_name.errors }}
                                {{ profile_form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            {{ profile_form.email.label_tag }}
                            {{ profile_form.email.errors }}
                            {{ profile_form.email }}
                        </div>
                        <div class="field">
                            {{ profile_form.birth_date.label_tag }}
                            {{ profile_form.birth_date.errors }}
                            <div class="ui icon input">
                                {{ profile_form.birth_date }}
                                <i class="calendar outline link icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            {{ profile_form.country_of_birth.label_tag }}
                            {{ profile_form.country_of_birth.errors }}
                            {{ profile_form.country_of_birth }}
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="field">
                            <input type="file" class="d_none" name="avatar" id="id_avatar" onchange="readURL(this)">
<!--                            {{ profile_form.avatar.label_tag }}-->
<!--                            {{ profile_form.avatar.errors }}-->
<!--                            {{ profile_form.avatar }}-->
                        </div>
                        <div class="field">
                            {{ profile_form.gender.label_tag }}
                            {{ profile_form.gender.errors }}
                            {% for radio in profile_form.gender %}
                            <div class="ui radio checkbox {% if forloop.first %}checked{% endif %}">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="field">
                        {{ profile_form.profession.label_tag }}
                        {{ profile_form.profession.errors }}
                        {{ profile_form.profession }}
                        {{ profile_form.profession.help_text }}
                    </div>
                    <div class="field">
                        {{ profile_form.interest.label_tag }}
                        {{ profile_form.interest.errors }}
                        {{ profile_form.interest }}
                        {{ profile_form.interest.help_text }}
                    </div>
                    <div class="field">
                        {{ profile_form.about.label_tag }}
                        {{ profile_form.about.errors }}
                        {{ profile_form.about }}
                        {{ profile_form.about.help_text }}
                    </div>
                    <div class="inline field">
                        <div class="ui toggle checkbox">
                            {{ profile_form.get_news_from.label_tag}}
                            {{ profile_form.get_news_from.errors}}
                            {{ profile_form.get_news_from}}
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui toggle checkbox">
                            {{ profile_form.get_notification_about_comments.label_tag}}
                            {{ profile_form.get_notification_about_comments.errors}}
                            {{ profile_form.get_notification_about_comments}}
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui toggle checkbox">
                            {{ profile_form.get_notification_friend_request.label_tag}}
                            {{ profile_form.get_notification_friend_request.errors}}
                            {{ profile_form.get_notification_friend_request}}
                        </div>
                    </div>
                    <div class="row m-4">
                        <button type="submit" class="ui basic green button">Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- User profile informations -->

    <div class="ui segment">
        <div class="ui equal width center aligned padded grid">

            <h2 class="font-lobster">Персональные данные</h2>
        </div>

        <div class="ui stackable two column grid">
            <div class="ui row">
                <div class="ui six wide column">
                    <img class="ui centered medium rounded image"
                         src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static '/image/avatar_man.png' %}{% endif %}"
                         alt="">
                    <div class="ui centered grid m-4">
                        <a class="ui secondary button" id="modal-btn">Редактировать профиль</a>
                    </div>
                </div>

                <div class="ui ten wide column">
                    <table class="ui table fluid">
                        <tbody class="font-oswald">
                        <tr>
                            <td>polzovatel</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Imya</td>
                            <td>{{ profile.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Familiya</td>
                            <td>{{ profile.last_name }}</td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>{{ profile.email }}</td>
                        </tr>
                        <tr>
                            <td>Sozdan profil</td>
                            <td>{{ profile.created }}</td>
                        </tr>
                        <tr>
                            <td>Druzya</td>
                            <td><a href="{{ profile.get_absolute_url_for_friends_view }}">{{ profile.get_friends_total_number }}</a></td>
                        </tr>
                        <tr>
                            <td>Like</td>
                            <td>{{ profile.get_total_received_likes }}</td>
                        </tr>
                        <tr>
                            <td>vy postavili Like</td>
                            <td>{{ profile.get_all_likes_given_to_posts }}</td>
                        </tr>
                        <tr>
                            <td>
                                Novye soovsheniya
                            </td>
                            <td>{{ msg_count }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ALl about user added dishes list-->
    <div class="personal_info_title row ">
        <h4>Ваши Рецепты</h4>
    </div>

    <table class="ui table fluid">
        <tbody>
        {% for meal in meals %}
        <tr>
            <td>
                <div class="dishe_images">
                    <img class="user_image" src="{{ meal.poster.url }}" alt="{{ meal.title }}">
                </div>
            </td>
            <td>
                <div class="ui middle aligned">
                    <span>{{ meal.title|truncatechars:"20" }}</span>
                </div>
            </td>
            <td>
                <div class="dish_created">
                <span class="dish_date">
                  {{ meal.created|date:"j E Y" }}
                </span>
                </div>
            </td>
            <td>

                <div class="ui two buttons">
                    <div class="ui basic green button"><a class="text-success"
                                                          href="{{ meal.get_update_absolute_url }}">Редактировать</a>
                    </div>
                    <div class="ui basic red button"><a class="text-danger coolor-danger"
                                                        href="{{ meal.get_delete_absolute_url }}">Удалить</a></div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock content %}

    {% block side %}
    {% endblock side %}
</div>
{% block javascript %}
    $(document).ready(function(){
        $('#modal-btn').click(function(){
            $('.ui.modal').modal('show')
            $('.ui.radio.checkbox').checkbox();
            $('.ui.toggle.checkbox').checkbox();
            $('#avatar_image_id').click(()=>{
                $('#id_avatar').click()
                $('#id_avatar').change((e)=>{
                    console.log()
                })
            })

        })
        var options = $.extend({},
            $.datepicker.regional["ru"], {
              dateFormat: "dd.mm.yy",
              changeMonth: true,
              changeYear: true,
              highlightWeek: true,
            }
        );
        $('.date_input').datepicker(options);

    })
    function readURL(input){
        if(input.files && input.files[0]){
            console.log('arslan')
           var reader = new FileReader()
           reader.onload = function (e){
              var image = e.target.result
              var imageField = document.getElementById('avatar_image_id')
              imageField.src = image
           }
           reader.readAsDataURL(input.files[0])
        }
     }
{% endblock javascript %}