{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block steps_breadcrumbs %}
{% endblock steps_breadcrumbs %}

{% block content %}

<div class="ui middle aligned center aligned  grid">
        <div class="ui card" style="width: 400px; margin-top: 30px; height: 100%;">
        <div class="ui center aligned red image header">
            <div class="content">
                <h1>{% trans "Sign Out" %}</h1>
            </div>
        </div>

        <div class="content">
            <div class="center aligned">
                <p>{% trans 'Are you sure you want to sign out?' %}</p>
            </div>
        </div>
        <form class="ui small form" method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="ui fluid large teal submit button">{% trans 'Sign Out' %}</button>
        </form>
    </div>
</div>
{% endblock %}
