{% extends "base.html" %}
{% load socialaccount%}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<div class="ui middle aligned center aligned  grid">
    <div class="column">
        <div class="ui teal image header">
            <img src="/static/image/yumy2.png" width="50" height="25" class="image">
            <div class="content">
                <h1>{% trans "Sign Up" %}</h1>
            </div>
        </div>
        <form class="ui mini form signup" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>
            {% csrf_token %}
            <div class="ui stackable segment">
                {% if form.errors %}
                    <div class="ui message">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="center aligned middle aligned two fields">
                    <div class="{% if form.username.errors %} error {% endif %}field">
                        {{ form.username }}
                    </div>
                    <div class="{% if form.email.errors %} error {% endif %}field">
                        {{ form.email }}
                    </div>
                </div>
                <div class="two fields">
                        <div class="{% if form.password1.errors %} error {% endif %}field">
                            {{form.password1}}
                        </div>
                        <div class="{% if form.password2.errors %} error {% endif %} field">
                            {{form.password2}}
                        </div>
                </div>
                <button type="submit" class="ui fluid large teal submit button">{% trans "Sign Up" %} &raquo;</button>
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
            </div>
        </form>
        <div class="ui message">
                Вы уже зарегистрированы?
                <a href="{{ login_url }}">Войти</a>.
            <p>или</p>
            <p>Войдите с одного из вашего аккаунта</p>
            <a href="{% provider_login_url 'google' %}">
                <i class="ui google large icon"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}
