
<div class="ui middle aligned divided list last_dishes">
    <h4 class="font-s-25 font-italic font-lobster p-10">Новые рецепты</h4>
        {% for dish in last_dishes %}
                <a href="{{ dish.get_absolute_url }}" class="item p-10">
                    <div class="left floated content">
                        <img class="ui avatar image" src="{{ dish.poster.url }}" alt="{{ dish.title }}">
                        <span class="text-warning font-oswald">
                            {{ dish.title|truncatechars:"20" }}
                        </span>
                    </div>

                </a>
        {% endfor %}
</div>

