* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

.side_bar_category {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side_bar_category ul {
    list-style-type: none;
}

ul.side_bar_category a {
    color: rgb(219, 114, 28);
}

/* Category side bar plus mines effect   */
.category_btn {
    position: relative;
}

.category_btn::before {
    content: attr(a);
    width: 10px;
    height: 2px;
    background-color: black;
    left: 10px;
    top: 5px;
    position: absolute;
}
/* Header style */
.my_button{
    width: 200px !important;
}
.w-100{
    width: 100px !important;
}
.width_100{
    width: 100% !important;
}
.w-150{
    width: 150px !important;
}
.mr-10{
    margin-right: 10px !important;
}
.bgc{
    background-color: rgb(0,0,0, 0.5) !important;
}
.white{
    color: white !important;
}
/*  */
.category_btn::after {
    content: attr(a);
    width: 10px;
    height: 2px;
    background-color: black;
    left: 10px;
    top: 5px;
    transform: rotate(90deg);
    transition: ease-in-out 0.3s;
    position: absolute;
}

.category_btn.active::after {
    transform: rotate(0deg);
}

.button_link {
    color: black;
    text-decoration: underline;
}

.button_link:hover {
    color: black;
    text-decoration: none;
}

#id_cooking,
#id_servings {
    width: 50px;
}

.card_image_div {
    height: 179px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.collapse {
    padding-left: 30px;
}

.fa-thumbs-up {
    cursor: pointer !important;
}

.fa-thumbs-up.active {
    color: coral;
}

.comments {
    max-width: 600px;
}

/* side bar css */
.rounded_profile {
    background-color: rgb(238, 236, 236);
    border: 1px solid rgb(190, 183, 183);
}

.user_image_div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px;
}

.user_image_div.size-2 {
    width: 100px;
    height: 100px;
}

.user_image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* personal info css */
.personal_info_title {
    margin: auto;
    text-align: center;
    padding: 1% 0;
}

.personal_informations {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 1rem;
}

.profile_change_block ol {
    list-style-type: none;
}

.dishe_images {
    width: 60px;
    height: 50px;
    overflow: hidden;
}

.red {
    color: red;
}

.delete-row {
    float: right;
}

.margin_auto {
    margin: auto 0;
}

/* Footer-subscribe css */
.footer-subsrcibe {
    opacity: .9999999;
    position: relative;
    z-index: 0;
    padding: 35px 0;
    background-color: #a5b1ad;
    overflow: hidden;
}

.footer-subscribe__wrapp {
    margin: auto;
    padding: 15px;
    max-width: 1900px;
    min-width: 252px;
}

.footer-subscribe_bias {
    margin-right: -30px;
}

.footer-subscribe__title {
    font-family: ReformaGroteskMediumC;
    line-height: 1;
    font-size: 1.7rem;
    color: #fff;
    text-align: left;
    float: left;
}

.form__input {
    display: inline-block;
    width: 100%;
    /* margin: 8px 0 0; */
    font-size: 1rem;
    font-family: "PT Sans";
    /* line-height: 1.5; */
    height: 54px;
    color: #000;
    padding: 11px 15px;
    background-color: #e7e9e7;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 2px;
}

.footer_wrapper {
    background-color: rgb(0, 0, 0);
}

.yami-footer {
    /* text-align: center; */
    max-width: 1900px !important;
    margin: auto !important;
    height:auto !important;    
}

.line_vertical {
    display: block;
    border-bottom: 1px solid rgb(202, 198, 198);
    width: 100%;
    margin: 15px 0;
}

.footer_link_yami {
    color: rgb(202, 198, 198);
    text-decoration: none;
    padding-right: 25px;
    position: relative;
}

.footer_link_yami:hover {
    text-decoration: none;
    color: rgb(133, 128, 128);
}

.footer_link_yami::after {
    content: '·';
    position: absolute;
    top: -10px;
    right: 7px;
    font-size: 30px;
    color: #a5b1ad;
}

.font-oswald {
    font-family: 'Oswald', sans-serif !important;
}

.font-lobster {
    font-family: 'Lobster', cursive !important;
}
.font-yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Meal-detail */

.dish_poster {
    width: 100%;
    object-fit: fill;
    max-height: 30rem;
}

.subscribe_icons_ul {
    display: inline;
    text-decoration: none;
}

.subscribe_link {
    text-decoration: none;
    color: rgb(31, 88, 36);
    font-weight: bold;
}

.subscribe_link:hover {
    color: rgb(31, 88, 36);
    text-decoration: none;
}

.subscribe_form_btn {
    background-color: none;
    padding: 8px;
    border: 1px solid rgb(31, 88, 36);
    border-radius: 3px;
}

.subscribe_form_btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-fb {
    padding: 0;
}

.subscribe_icons_div {
    margin-left: 15px;
}

.icons_subscribe {
    width: 30px;
}

.ingredients_ul {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
}

.ingredints_li {
    padding: 7px;
    border-bottom: 1px solid rgb(161, 158, 158);
}

.dish_steps {
    margin-top: 40px;
    margin-bottom: 20px;
}

.steps_counter {
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}

.subscribe_div_add.active {
    color: black;
}

.body_yummy {
    background-image: url('/static/image/bg1.png') !important;
    background-attachment: fixed;
}

.navbar_yummy {
    background-color: rgb(0, 0, 0, 0.5) !important;
    position: fixed !important;
    left: 0 !important;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 1 !important;
    width: 100% !important;
    transition: top 0.6s !important;
    /* height: 75px !important; */
}
.navbar_yummy.top_show{
    top: -75px !important;
}
.navbar_yummy_second{
    background-color: rgb(0, 0, 0, 0.5) !important;
    position: unset !important;
    /* top: 75px !important; */
    z-index: 1 !important;
    width: 100% !important;
    transition: top 0.6s !important;
    transition: visibility 0.7s !important;
}
.navbar_yummy_second.top_show{
    top: -76px !important;
}

.navbar_links_yummy {
    color: white !important;
}

.navbar_links_yummy:hover {
    color: rgb(245, 192, 20) !important;
    text-decoration: none !important;
}

.title_yummy {
    font-size: 40px;
    font-weight: bold;
    color: rgb(245, 91, 20);
    font-stretch: expanded;
    padding: 0;
    margin: 0;
}

.last_dishes {
    background-image: url('/static/image/bg-x.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.category_side_yummy {
    background-image: url('/static/image/bg-y.jpg') !important;
    background-repeat: repeat !important;
    background-size: contain !important;
}

.content_side_yummy {}

.img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 2px solid snow;
}

ul.errorlist {
    list-style-type: none;
    color: red;
}

.bread_yummy-block {
    background-color: rgba(221, 171, 33, 0.6);
}

.rounded_profile {
    background-image: url('/static/image/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sub_category,
.category,
.last_category {
    display: block;
}

.sub_category.active,
.category.active,
.last_category.active {
    display: none;
}

#autocomplite_list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgb(150, 150, 150);
    z-index: 999999999999999999;
    background: #fff;
    max-height: 250px;
    overflow: auto;
    margin-top: 1px;
}

#autocomplite_list div:hover {
    background: #eee;
    cursor: pointer;
}

.mymodal {
    height: 300px !important;
    top: 50px !important;
    margin: auto !important;
}

.comment-box {
    display: none;
    max-height: 400px !important;
    overflow: auto !important;
    padding: 10px !important;
    background-color: white !important;
}

.ui.active.centered.inline.loader {
    background-color: white !important;
    color: black !important;
}

.w-big {
    width: 200px !important;
}

.mx-2 {
    margin: 5px;
}

.ui.dropdown {
    color: white;
}

.custom_container {
    max-width: 1127px !important;
    margin: auto !important;
    padding: 5px !important;
}

hr {
    border: 1.5px solid black !important;
}

.p-10 {
    padding: 10px !important;
}

pt-10 {
    padding-top: 10px !important;
}

pt-20 {
    padding-top: 20px !important;
}

.font-s-25 {
    font-size: 25px !important;
}

.font-s-20 {
    font-size: 20px !important;
}

.p-auto {
    padding: auto !important;
}

.black {
    color: black !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.category_side_yummy {
    background-image: url('/static/image/bg-y.jpg') !important;
    background-repeat: repeat !important;
    background-size: contain !important;
}

.last_dishes {
    background-image: url('/static/image/bg-x.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.ui.accordion .accordion {
    margin: 0 !important;
}

.rounded {
    background-color: white !important;
    border: 1px solid rgb(190, 183, 183) !important;
    border-radius: 10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.m-4 {
    margin: 10px !important;
}

input {
    background-color: rgb(237, 253, 251) !important;
}

textarea {
    background-color: rgb(237, 253, 251) !important;
}

.selection {
    background-color: rgb(237, 253, 251) !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

#poster_image_id {
    cursor: pointer !important;
}

.instruction_image_div {
    position: relative !important;
    cursor: pointer !important;
}

.form__add-img {
    display: none;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin: -28px 0 0 -28px !important;
    background-image: url('/static/image/add_image_con.png') !important;
    width: 57px !important;
    height: 57px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 100 !important;
}

.form__add-img-instr {

    display: none;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin: -11px 0 0 -11px !important;
    background-image: url('/static/image/add_image_con.png') !important;
    width: 25px !important;
    height: 25px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 100 !important;
}

#poster_image_id:hover,
#instruction_image_id:hover {
    border: 1px solid rgb(18, 44, 129) !important;
    border-radius: 10px !important;
}

.main_point {
    cursor: pointer !important;
}

.main_point:hover {
    width: 1em !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.c-black {
    color: black !important;
}

.w-10 {
    width: 10px;
}

.content .ml-40 {
    margin-left: -45px !important;
}

.content .comments .comment .content .ml-40 {
    margin-left: -90px !important;
}

#navbar {
    z-index: 100 !important;
}

.overflow-a {
    overflow: auto !important;
    height: 300px !important;
}

.align-self-flex-end {
    align-self: flex-end !important;
}

.body_private_message {
    display: flex;
    flex-direction: column !important;
}

.bg-private_message {
    background-color: rgb(242, 248, 244) !important;
}

.custom-bg-color {
    background-color: rgb(238, 255, 230) !important;
}

.custom_chat_icon {
    position: relative !important;
}
.d_none {
    display: none !important;
}
.v_hide{
    visibility: hidden !important;
}
.d_block {
    display: block !important;
}

.notification_number {
    display: none !important;
}

.notification_number.visible {
    display: block !important;
}

.notification_number {
    position: absolute !important;
    top: -5px !important;
    left: 55px !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    font-size: 20px !important;
    color: red !important;
    z-index: 10 !important;
    background-color: red !important;
    color: white !important;
    padding-top: 2px !important;
    line-height: 0.6 !important;
    text-align: center !important;
}

.notification_number> small {
    font-size: 13px !important;
    font-weight: bold !important;
    /* margin-bottom: 2px !important; */
}

.form-control.dish_ingredient_name {
    position: relative !important;
}

#autocomplete_list {
    position: absolute !important;
    border: 1px solid rgb(150, 150, 150) !important;
    border-radius: 10px !important;
    z-index: 999999999999999999 !important;
    background: #fff !important;
    max-height: 150px !important;
    width: 246px !important;
    padding-left: 10px !important;
    overflow: auto !important;
    margin-top: 1px !important;
    cursor: pointer !important;
}

#autocomplete_list div:hover {
    background: #eee !important;
    border-radius: 5px !important;
    padding: 3px !important;
    cursor: pointer !important;
}
.add_recipe_icon::before{    
    content: "";
    display: block;
    width: 55px;
    height: 56px;
    margin: 0 auto 10px;
    background-image: url('/static/image/add_recipe4.png') !important;
    /* background-position: -226px 0; */
    background-repeat: no-repeat;
    background-size: contain;
}
.add_post_icon::before{    
    content: "";
    display: block;
    width: 55px;
    height: 56px;
    margin: 0 auto 10px;
    background-image: url('/static/image/add_post2.png') !important;
    /* background-position: -226px 0; */
    background-repeat: no-repeat;
    background-size: contain;
}

.big.white.bars.icon{
    display: none !important;
}
.search_form_ushefa_icon{
    display: none !important;       
}
.second_nav_block{
    display: none !important;
}
@media only screen and (max-width: 768px) {
    /* .ui.container.navbar_menu_container{
        display: none !important;
    } */
    .second_nav_block{
        display: flex !important;
        padding: 3px !important;
    }
    .big.white.bars.icon{
        display: block !important;
    }
    .search_form_ushefa.display{
        display: none !important;
    }
    .search_form_ushefa_icon.display{
        display: block !important;       
    }
    .add_more_text_ushefa{
        display: none !important;
    }
    .navbar_menu_container> .item{
        display: none !important;
    }
    .navbar_menu_container> .item.search_item_form{
        display: inline-flex !important;
    }
    .add_dropdown_box_button_ushefa.top, .item.centered_custom.top{
        display: none !important;
    }
    .navbar_yummy {
        top: 0 !important;
    }
    .navbar_yummy.top_show{
        top: -55px !important;
    }
    .child_comment_buttons{
        font-size: 0.6rem !important;
    }
    .p-0{
        padding: 0rem, 0rem !important;
    }
}

.ushefa_modal{
    height: auto !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    right: auto !important;
}
.ushefa_according_title{
    text-align: center;
}.width_90{
    width: 80% !important;
}
.centered_custom {
    display: inline-flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 0 !important;
    border: 1px solid white !important;
    border-radius: 3px !important;
    margin-right: 5px !important;
    cursor: pointer !important;
}
  .img-container{
    margin: auto !important;
    text-align: center !important;
    display: block !important;
  }
  .divider{
      margin: 0 !important;
  }
  .footer_wrapper {
    margin: auto;
    padding: 40px 0 40px;
    background: #1d211f;
    opacity: .9999;
    position: relative;
}
.m_right{
    margin-right: 0 !important;
    margin-left: 10px !important;
}
.flex_center_middle{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.line{
    border-top: 1px solid grey;
}
.text-muted{
    font-size: 1.5rem !important;
}
.f-color{
    color: rgb(57, 250, 19) !important;
}
.d-inline{
    display: inline !important;
}
.page_image{
    position: relative;
    padding: 0px 0px 90% 0px !important;
    border-radius: 1rem !important;
}
.page_image.loading_gif{
    background: url('/static/image/load2.gif') center / 25% no-repeat !important;
    background-color: white !important;
}
.page_image img{
    position: absolute !important;
    width: 100% !important;
    /* height: 100% !important; */
    top: 0 !important;
    left: 0 !important;
    /* object-fit: cover !important; */
    border-radius: 1rem !important;
}
.width{
    width: 100% !important;
    height: 100% !important;
}
.over-flow{
    overflow-y: scroll !important;
    max-height: 500px;
}