
            <div class="ui comments p-10" style="width: 100% !important;">
                <h3 class="ui dividing header"> Личное сообщение</h3>
                <div class="body_private_message overflow-a bg-private_message p-10" style="border-radius: 10px;">
                </div>
                <form action="{{ obj.get_privet_messages_absolute_url }}" datatype="" class="ui reply form private_msg_form" method="post">
                    {% csrf_token %}
                    <textarea name="message" cols="1" rows="10" required="" id="id_message" class="private_message_text"></textarea>
                    <button type="submit" class="ui positive basic fluid button mt-10">Отправить</button>
                </form>

            </div>

