{% if pag_comments.has_other_pages %}
<div class="ui centered mini pagination menu">
    {% if pag_comments.has_previous %}
        <a class="item" href="?page={{pag_comments.previous_page_number}}">Предыдущая</a>
    {% else %}
        <a class="disabled item" href="#">Предыдущая</a>
    {% endif %}
    {% for num in pag_comments.paginator.page_range %}
        {% if pag_comments.number == num %}
            <a href="#" class="active item">{{num}}</a>
        {% else %}
            <a href="?page={{num}}" class="item">{{num}}</a>
        {% endif %}
    {% endfor %}
    {% if pag_comments.has_next %}
        <a class="item" href="?page={{pag_comments.next_page_number}}">Следуюшая</a>
    {% else %}
        <a class="disabled item" href="#">Следуюшая</a>
    {% endif %}
</div>
{% endif %}