{% load meal_tags %}
{% load notification_tags %}
{% load static %}

<div class="four wide column">
    <div class="ui vertical fluid menu rounded_profile">
        {% if user.is_authenticated %}
            <div class="ui middle aligned divided list">
                <div class="item p-10">
                    <div class="right floated content">
                        {% new_messages_not user.profile.id as notification %}
                        <a href="#"><i class="user outline big grey icon custom_chat_icon"><span class="notification_number {% if user.profile.get_total_friend_request > 0 %}visible{% endif %}"><small>{{ user.profile.get_total_friend_request }}</small></span></i></a>
                        <a href="{{user.profile.get_absolute_url_for_friends_view}}"><i class="chat outline big grey icon custom_chat_icon"><span class="notification_number {% if notification > 0 %}visible{% endif %}"><small>{{notification}}</small></span></i></a>
                    </div>
                    <img src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static '/image/avatar_man.png' %}{% endif %}" alt="" class="ui avatar image">
                    <div class="content">{{user.profile.first_name}}</div>
                </div>
            </div>
            <div class="item"><a class="font-oswald" href="#">Все пользователи</a></div>
            <div class="item"><a class="p-2 text-dark font-oswald" href="#">Отпарвить запрос на дружбу </a></div>
            <div class="item"><a class="p-2 text-dark font-oswald" href="{% url 'contact:user_profile' %}">Ваша страница <span class="ui teal left pointing label">{{ user.profile.get_total_user_meal }}</span></a></div>
            <div class="item"><a class="p-2 text-dark font-oswald" href="#">Вашы черновики <span class="ui teal left pointing label">{{ user.profile.get_total_draft }}</span></a></div>
            <div class="item"><a class="p-2 text-dark font-oswald" href="{{ user.profile.get_dish_book_absolute_url }}">Кулинарная книга <span class="ui teal left pointing label dish_book_count">{{ user.profile.get_total_dishes }}</span></a></div>
            <div class="item"><a class="p-2 text-dark " href="#">Выйти</a></div>
        {% else %}
            <div class="item"><a class="p-2 text-dark" href="#">Войти</a></div>
            <div class="item"><a class="btn btn-outline-primary" href="#">Регистрация</a></div>
        {% endif %}
    </div>

    {% get_last_dishes %}
    {% get_categories as categories %}
        <div class="ui vertical fluid menu category_side_yummy">
          <div class=" font-s-25 font-italic font-lobster p-10">Категории</div>
            <div class="ui accordion">
                {% for category in categories %}
                {% if category.sub_category.all %}
                <div class="title">
                    <i class="dropdown icon"></i>
                    <a href="{{ category.get_absolute_url }}" class="navbar_links_yummy font-oswald font-oswald black">
                    {{ category.name }}
                    </a>
                </div>

                <div class="middle aligned content" id="{{ category.slug }}">
                    {% for sub_category in category.sub_category.all %}
                    <p class="accordion transition visible" style="display: block !important;">
                        <a href="{{ sub_category.get_absolute_url }}" class="navbar_links_yummy font-oswald font-oswald black pl-20">
                            {{sub_category.name}}
                        </a>
                    </p>
                    {% endfor %}
                </div>
                {% else %}
                <a href="{{ category.get_absolute_url }}" class="navbar_links_yummy font-oswald font-oswald black pl-10">
                    {{ category.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        </div>

</div>