{% load meal_tags %}
{% load static %}

<div class="four wide column">
    {% get_last_dishes %}
    {% get_categories as categories %}
    <div class="ui vertical fluid menu category_side_yummy">
        <div class="font-s-25 font-italic font-lobster p-10">Категории</div>
        <div class="ui accordion">
            {% for category in categories %}
            {% if category.sub_category.all %}
            <div class="title">
                <i class="dropdown icon"></i>
                <a href="{{ category.get_absolute_url }}" class="navbar_links_yummy font-oswald font-oswald black">
                    {{ category.name }}
                </a>
            </div>
            <div class="middle aligned content" id="{{ category.slug }}">
                {% for sub_category in category.sub_category.all %}
                <p class="accordion transition visible" style="display: block !important;">
                    <a href="{{ sub_category.get_absolute_url }}"
                       class="navbar_links_yummy font-oswald font-oswald black pl-20">
                        {{sub_category.name}} : {{ sub_category.dish_set.all.count }}
                    </a>
                </p>
                {% endfor %}
            </div>
            {% else %}
            <a href="{{ category.get_absolute_url }}" class="navbar_links_yummy font-oswald font-oswald black pl-10">
                {{ category.name }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>