{% load meal_tags %}
{% load static %}

<div class="four wide column">
    <!-- Yandex.RTB R-A-1494480-2 -->
        <div id="yandex_rtb_R-A-1494480-2"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1494480-2',
            blockId: 'R-A-1494480-2'
          })
        })</script>
    {% get_last_dishes %}
    {% get_categories as categories %}
    <div class="ui vertical fluid menu category_side_yummy">
        <div class="font-s-25 font-italic font-lobster p-10">Категории</div>
        <div class="ui accordion">
            {% for category in categories %}
            {% if category.sub_category.all %}
            <div class="title">
                <i class="dropdown icon"></i>
                <a href="{{ category.get_absolute_url }}" class="navbar_links_yummy font-oswald font-oswald black">
                    {{ category.name }}
                </a>
            </div>
            <div class="middle aligned content" id="{{ category.slug }}">
                {% for sub_category in category.sub_category.all %}
                <p class="accordion transition visible" style="display: block !important;">
                    <a href="{{ sub_category.get_absolute_url }}"
                       class="navbar_links_yummy font-oswald font-oswald black pl-20">
                        {{sub_category.name}} : {{ sub_category.dish_set.all.count }}
                    </a>
                </p>
                {% endfor %}
            </div>
            {% else %}
            <a href="{{ category.get_absolute_url }}" class="navbar_links_yummy font-oswald font-oswald black pl-10">
                {{ category.name }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
<!--    Рекламный блок-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5728429283871821"
                     crossorigin="anonymous"></script>
                <!-- Реклама -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5728429283871821"
                     data-ad-slot="9657311282"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
</div>